[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
pytest = "*"
geopy = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
